nav ul li a {
  color: #fff !important;
}

.navbar-brand {
  background: #000 !important;
}

.navbar {
  box-shadow: 0 2px 4px rgba(48, 47, 47, 0.1) !important;
}

.navbar.scrolled {
  background-color: #000 !important;
  color: #000 !important;
}
